[flake8]
exclude = 
    migrations,
    __pycache__,
    manage.py,
    settings.py,
    .docker,
    .github,
    .env,
    .gitignore,
    docker-compose.dev.yml,
    docker-compose.prod.yml,
    Makefile,
    requirements.txt



max-line-length = 120