version: "3.9"

services:
  api:
    build:
      dockerfile: .docker/prod/Dockerfile
      context: .
      cache_from:
        - "${API_IMAGE}"
    image: "${API_IMAGE}"
    command: gunicorn qt.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/staticfiles
      - static_volume:/mediafiles
    expose:
      - 8000
    env_file: .env
  nginx:
    build:
      context: ./nginx/Dockerfile
      cache_from:
        - "${NGINX_IMAGE}"
    image: "${NGINX_IMAGE}"
    volumes:
      - static_volume:/staticfiles
      - static_volume:/mediafiles
    ports:
      - 80:80
    depends_on:
      - api

volumes:
  static_volume:
  media_volume:
