version: "3.9"

services:
  web:
    image: "${NGINX_IMAGE}"
    command: gunicorn qt.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/staticfiles
      - media_volume:/mediafiles
    expose:
      - 8000:8000
    env_file:
      - .env
  nginx:
    image: "${NGINX_IMAGE}"
    volumes:
      - static_volume:/staticfiles
      - media_volume:/mediafiles
    ports:
      - 1337:80
    depends_on:
      - web

volumes:
  static_volume:
  media_volume:
