name: Django Tests for Dev branch

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Test flake8
        run: |
          docker-compose -f docker-compose.dev.yml run --rm api sh -c "flake8"
