name: Django Tests for Dev branch

on: [push]

jobs:
  build:
    name: Run Backend Tests
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/dev'
    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Install docker-compose
        run: |
          pip install docker-compose
      - name: Run tests
        run: |
          docker-compose run sh -c "python manage.py test && flake8"
